// Define variables for your color scheme

// For example:
$red: #d80e11;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #0E0000;
$light-gray: #d8d1d1;
$dark-gray: #757070;
$white: #fbfbfb;
$app-blue: #2196f3;
