// CSS rules for the Home index for everything that bigger than a phone screen
@media only screen and (min-width: 481px) {
  .top-container{
    display: none;
  }
  .link-container {
    display: none;
  }
}

// CSS rules for the Home page on phones
@media only screen and (max-width: 480px) {
  .top-container {
    width: 100%;
    .doit {
      color: $white;
      text-shadow: 0px -1px 3px rgba(37,37,37,0.5);
    }
  }
}
