// CSS rules for the Home index for everything that bigger than a phone screen
@media only screen and (min-width: 481px) {
  .top-container{
    display: none;
  }
  .home-page-container {
    display: none;
  }
}

// CSS rules for the Home page on phones
@media only screen and (max-width: 480px) {
  .top-container {
    width: 100%;
    .doit {
      color: $white;
      text-shadow: 0px -1px 3px rgba(37,37,37,0.5);
      font-size: 28px;
    }
  }
  // Home container
  .home-page-container {
    width:95%;
    margin: 4% auto;
    padding-bottom: 70px;;
    h1 {
      margin-bottom: 4%;
    }
    .home-content-container {
      width: 100%;
      margin: 4% 0;
      .home-post-task-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: $app-blue;
        border-radius: 999px;
        border: none;
        a {
          color: $white;
          text-decoration: none;
          font-size: 20px;
          padding-left: 10px;
        }
        .fa-solid {
          font-size: 20px;
          margin-left: 16px;
          padding-right: 10px;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      margin: 4% 0;
      padding: 4% 0;
      transform: rotate(0deg);
    }
    h2,
    h5 {
      margin-bottom: 2%;
    }
    // Home category container
    .home-category-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .left,
      .right {
        width: 150px;
        height: 150px;
        border-radius: $main-border-radius;
      }
      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        p {
          font-size: 18px;
        }
      }
      .right {
        background-color: $app-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .fa-solid {
          font-size: 52px;
        }
        p {
          font-weight: bold;
          color: $white;
          letter-spacing: 2px;
          font-size: 18px;
          margin-top: 4px;
        }
      }
    }
  }
}
