// CSS rules for the Task new page for everything that bigger than a phone screen
@media only screen and (min-width: 481px) {
  .my-tasks-container {
    display: none;
  }
}

// CSS rules for the Task new page on phones
@media only screen and (max-width: 480px) {
  .my-tasks-container {
    width: 95%;
    margin: 0 auto;
    h3 {
      text-decoration: underline;
      margin-bottom: 4px;
    }
    // My active tasks
    .active-tasks-section {
      a {
        text-decoration: none;
        color: $dark-gray;
      }
    }
    // Requested Tasks
    .requested-tasks-section {
      a {
        text-decoration: none;
        color: $black;
      }
    }
    .button-container {
      display: flex;
      justify-content: space-evenly;
      margin: 10px 0;
      button {
        width: 120px;
        font-size: 18px;
        border-radius: 999px;
        border: none;
      }
    }
      .done-btn {
        width: 120px;
        font-size: 18px;
        border-radius: 999px;
        border: none;
        margin-top: 6px;
      }
      .name-link {
        color: $dark-gray;
        text-decoration: none;
      }
  }
}
