<!-- tasks/_categories.html.erb -->
<div class="category-grid-container">
  <% @categories.each do |category| %>
    <div class="grid-item">
      <%= link_to category, class: "category-link" do %>
        <% if category.photo.attached? %>
          <%= cl_image_tag(category.photo.key, class: "category-image") %>
        <% else %>
          <%= image_tag "default-category.jpg", alt: "category-default-image", class: "category-image" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
