<p style="color: green"><%= notice %></p>

<div class="top-container">
  <div class="text-center">
    <h1 class="doit mt-4">doit.</h1>
  </div>
</div>

<div id="tasks">
  <div class="container">
    <% @tasks.each do |task| %>
      <%# This checks only for other users tasks %>
      <% if task.task_status == "available" && task.user != current_user %>
        <%= render task %>
      <% end %>
    <% end %>
  </div>
</div>
