<%# view# task/show %>
<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<p>Status: <%= @task_status %></p>

<% unless @is_own_task %>
  <% if @task_status == "available" %>
    <%= button_to "Start Task", start_task_task_path(@task), method: :post %>
  <% elsif @task_status == "pending" %>
    <p>Request has been sent.</p>
  <% end %>
<% end %>
