<%# Chatroom index page %>
<div class="chatroom-index-container">

  <h1><i class="fa-solid fa-envelope-open-text" style="color: #0e0000;"></i>  INBOX</h1>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class: "chat-link" do %>
      <div class="chat-container">
        <div class="left">
          <% if chatroom.unread_messages?(current_user) %>
            <%# Envelope for unread chatroom %>
            <i class="fa-regular fa-envelope" style="color: #0e0000;"></i>
          <% else %>
            <%# Open envelope for read chatroom %>
            <i class="fa-regular fa-envelope-open" style="color: #0e0000;"></i>
          <% end %>
        </div>
        <div class="right">
          <h3><%= chatroom.name %></h3>
          <% if chatroom.user == current_user %>
            <p>Chat between you and <%= chatroom.task.user.first_name %></p>
          <% else %>
            <p>Inquiry from <%= chatroom.user.first_name %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr>
  <% end %>

</div>
