<div class="pwa-container">
  <div class="pwa-content">
  <h1>WELCOME TO DOIT</h1>
  <h5>Get everything done instantly. The doit. app connects local freelancers and professionals with help-seeking people around them instantly.</h5>
  <p class="mt-3">To use the app you have to:</p>
  <h6>OPEN THE APP IN YOU PHONES BRWOSER</h6>
  <%= image_tag "pwa_instruction_1.jpg", alt: "pwa instruction image", class: "pwa-img-1" %>
  <h6>CLICK ON THE BROWSER MENU AND SELCET "ADD TO HOME SCREEN"</h6>
  <%= image_tag "pwa_instruction_2.jpg", alt: "pwa instruction image", class: "pwa-img-2" %>
  </div>
</div>
