<div class="top-container">

  <div class="text-center">
    <h1 class="doit__ mt-4">doit.</h1>
  </div>

</div>

<div class="home-page-container">
  <% if user_signed_in? %>
    <h1><%= current_user.first_name %>, need something done?</h1>
  <% else %>
    <h1>Need something done?</h1>
  <% end %>
  <h5>Post a task. Receive offers. Get it done.</h5>

  <%# Home container %>
  <div class="home-content-container">
    <button class="home-post-task-btn">
      <%= link_to "Post a task", new_task_path %>
      <i class="fa-solid fa-arrow-right" style="color: #fbfbfb;"></i>
    </button>

    <%= image_tag 'home-placeholder.png', alt: "home-page-image" %>

    <h5>Do you want to help others and get paid for it?</h5>

    <%# Home category container %>
    <div class="home-category-container">
      <div class="left">
        <p>Look through the categories and discover who needs help.</p>
      </div>
      <%= link_to categories_path, class: "right" do %>
          <i class="fa-solid fa-layer-group" style="color: #fbfbfb;"></i>
          <p>CATEGORIES</p>
      <% end %>
    </div>


  </div>
</div>
