<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1><%= current_user.first_name %>, need something done?</h1>
<h5>Post a task. Receive offers. Get it done.</h5>
<%= link_to "Post a task", new_task_path, class: "btn btn-primary" %>
