// CSS rules for the sign up for everything that bigger than a phone screen
@media only screen and (min-width: 481px) {
  .signup-form-container {
    display: none;
  }
  .signup-back-container {
    display: none;
  }
  .edit-user-bottom-container {
    display: none;
  }
  .edit {
    display: none;
  }
}

// CSS rules for the sign up on phones
@media only screen and (max-width: 480px) {
  // New Task form container
  .signup-form-container {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 70px;
    font-family: $body-font, Arial, sans-serif;
    position: relative; // added this to position the indicators relative to this container

    .form-slides {
      height: 400px;

      .form-slide {
        overflow: auto;
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .form-inputs {
      margin: 20px 0 20px 0;
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        margin-top: 20px;
      }
      .form-control,
      .form-control-file {
        margin-bottom: 20px;
        background-color: $white;
        padding: 10px;
        height: 40px;
      }
    }
    .form-inputs input[type="text"],
    .form-inputs textarea,
    .form-inputs select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: $white;
    }
    .signup-form-container .form-inputs input[type="password"] {
      padding: 10px;
    }
    // Below is for the eye icon position to toggle password visibility
    .input-container {
      position: relative;
      height: 140px;
      border: 1px solid transparent;
      .eye-icon {
        position: absolute;
        right: 16px;
        transform: translateY(-50%);
        top: 50%;
      }
    }
    .upload-photo {
      background-color: $white;
    }

    .form-inputs .file-input {
      margin-top: 10px;
    }

    .indicators {
      position: absolute; // set position to absolute
      bottom: 0px; // distance from the bottom
      width: 100%; // full width of the parent container
      display: flex;
      justify-content: center;

      .indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #bbb;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;

        &.active {
          background-color: #717171;
        }
      }
    }
  }
  .signup-back-container {
    width: 95%;
    margin: 0 auto;
    a {
      font-weight: bold;
      text-decoration: none;
      color: #0E0000;
      letter-spacing: 1px;
    }
  }
  .edit-user-bottom-container {
    a {
      text-decoration: none;
      color: $black;
      padding-top: 16px;
    }
  }
}
