.alert {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
}
#alert {
  background-color: $app-blue;
  color: white;
  animation: fadeOut 3s ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
