.chatroom {
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 90vh;

  .chat-top-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid $black;
    .left {
      padding: 0 8px;
      .fa-solid {
        font-size: 32px;
      }
    }
    .right {
      h5 {
        margin: 8px;
      }
    }
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $black;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
