// CSS rules for the Navbar for everything that bigger than a phone screen
@media only screen and (min-width: 481px) {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
    display: none;
  }
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
}

// CSS rules for the Navbar on phones below
@media only screen and (max-width: 480px) {
  // Uncomment/comment this and the will disappear/appear on phones
  .navbar-lewagon {
    display: none;
  }
}
