// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "categories/index";
@import "device/index";
@import "tasks/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(251,180,188);
  background: linear-gradient(180deg, rgba(251,180,188,1) 30%, rgba(230,121,126,1) 85%);
  background-attachment: fixed;
  height: 100%;
}
