<%# Categories Index Page %>
<p style="color: green"><%= notice %></p>

<div class="text-center">
  <h1>doit</h1>
</div>

<div class="text-center">
  <h1>EXPLORE</h1>
</div>

<%# This renders the categories in a grid %>
<div class="categories-container">
  <div class="grid-container">
    <% @categories.each do |category| %>
      <div class="grid-item">
        <%= link_to category, class: "category-link" do %>
          <%= image_tag("default-category.jpeg", alt: "category-default-image") %>
          <h3><%= category.name %></h3>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
