<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <h5><%= category.name %></h5>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%# Savety check that only the user with the email 'simon@gmail.com'
can add a new category %>
<% if user_signed_in? && current_user.email == 'simon@gmail.com' %>
  <%= link_to "Add new category", new_category_path %>
<% end %>
